/* DEFINE VARIABLE */
:root {
    --background: #f6f6f6;
    --font: #222;
    --border: #333;
    --screen: #eee;
    --calculator: #aaa;
    --btn: #eee;
    --btn-hover: #ddd;
    --btn-active: #ccc;
    --btn-red: #faa;
    --btn-red-hover: #e99;
    --btn-red-active: #d88;
    --btn-blue: #aaf;
  }

/* Clear all default padding and margin */
*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: none;
}

/* WHOLE PAGE */
body {
    /* positioning */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* styling */
    font-family: 'Roboto', sans-serif;
    background-color: var(--background);
    color: var(--font);
}

/* CALCULATOR BODY */
.container {
    /* positioning */
    min-height: 600px; /* eable to expand */
    width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    /* styling */
    border: 2px solid var(--border);
    border-radius: 20px;
    background-color: var(--calculator);
}

/* DISPLAY */
.display-container {
    /* positioning */
    margin-bottom: 20px;
    min-height: 100px; /* enable to expand */
    width: 100%; /* expand to 100% of its parent container */
    display: flex;
    justify-content: right;
    align-items: center;
    word-wrap: break-word;  /* break word to new line */
    word-break: break-all;
    /* styling */
    border: 1px solid black;
    border-radius: 15px;
    border: 2px solid var(--border);
    background-color: var(--screen);
}

#display {
    padding: 20px;
    text-align: right;
    font-size: 36px;
}

/* BUTTONS */
.button-container {
    flex: 1; /* element will expand and fill the available space -> expand height (main axis) */
    width: 100%; /* expand width */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
  }

button {
    font-size: 20px;
    border-radius: 15px;
    border: 2px solid var(--border)
}

.lowerButton {
    background-color: var(--btn);
}

.lowerButton:hover {
    background-color: var(--btn-hover);
}

.lowerButton:active {
    background-color: var(--btn-active);
}

#btnClear {
    grid-column: span 4; /* make it's size = 4 block */
    background-color: var(--btn-red);
}

#btnClear:hover {
    background-color: var(--btn-red-hover);
}

#btnClear:active {
    background-color: var(--btn-red-active);
}
